<div class="jumbotron center">
  <h1>Welcome on Beer Blog!</h1>
  <p>Create Your own Beers database!</p>
  <p><a class="btn btn-primary btn-lg btn-xlarge" href="#" role="button">Sign up!</a></p>
</div>