@import "bootstrap-sprockets";
@import "bootstrap";

.center {
	text-align: center;
}

#logo {
	height: 50px ;
	width: 50px ;
}
.navbar-brand {
	padding:0px;
}
.jumbotron{
	background-image: asset-url('beer.jpg');
	background-size: cover;
	height:750px;
	width:80%;
	margin: auto;
	color:grey;
	text-align:center;
	margin-bottom:30px;
}

.jumbotron h1{
	border-color:black;
}
.btn.btn-primary.btn-lg
{
	color:black;
}
.jumbotron p{
	color:#33CCFF;
}
.btn-xlarge{
	font-size: 1.7em;

}